@import url("https://fonts.googleapis.com/css?family=Arvo|Lato");
html, body {
  height: 100%;
}

@media (max-width: 479px) {
  html, body {
    font-size: 15px;
  }
}

body {
  font-family: 'Lato', Arial, sans-serif;
  background-color: #e5e5e5;
}

body #app-title {
  color: #fff;
  background-color: #262626;
  margin: 0;
  padding: 0.8rem 1rem;
}

@media (max-width: 479px) {
  body #app-title {
    font-size: 20px;
    padding: 0.5rem 1rem;
  }
}

body .search-bar-container {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #e5e5e5;
  background-color: #fff;
}

@media (max-width: 479px) {
  body .search-bar-container {
    border-style: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2px;
  }
}

body .search-bar-container .search-bar-fields, body .search-bar-container input {
  font-size: 16px;
  border-radius: 3px;
  padding: 0.5rem;
  margin: 0.2rem 1rem;
  outline: none;
  max-width: 100%;
}

@media (max-width: 479px) {
  body .search-bar-container .search-bar-fields, body .search-bar-container input {
    font-size: 14px;
    width: auto;
  }
}

body .search-bar-container .search-bar-fields input, body .search-bar-container input input {
  width: 15rem;
}

@media (max-width: 479px) {
  body .search-bar-container .search-bar-fields input, body .search-bar-container input input {
    width: 90%;
    margin: 0.4rem 0;
    padding: 0.5rem;
  }
}

body .search-bar-container .search-bar-fields #error, body .search-bar-container input #error {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #e51212;
}

@media (max-width: 479px) {
  body .search-bar-container .search-bar-fields #error, body .search-bar-container input #error {
    margin-top: 0.5rem;
    margin-left: 0;
  }
}

body .search-bar-container .search-bar-submit {
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  background-color: #66ADFF;
  padding: 0.5rem 1rem;
  margin-left: 0.2rem;
  width: auto;
  cursor: pointer;
}

@media (max-width: 479px) {
  body .search-bar-container .search-bar-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    padding: 0.75rem;
    margin-top: 0.4rem;
    max-width: 45px;
  }
}

body .search-bar-container .search-bar-submit:hover {
  background-color: #3392ff;
}

body .business-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem;
}

@media (max-width: 479px) {
  body .business-list {
    margin: 0;
  }
}

body .business-list .business-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20rem;
  margin: 1.5rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 1px 12px 46px 4px rgba(0, 0, 0, 0.19);
          box-shadow: 1px 12px 46px 4px rgba(0, 0, 0, 0.19);
}

@media (max-width: 479px) {
  body .business-list .business-container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0.2rem 0;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }
}

body .business-list .business-container .business-image img {
  height: 15rem;
  width: 20rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 3px;
}

@media (max-width: 479px) {
  body .business-list .business-container .business-image img {
    height: 12rem;
    width: 12rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    border-radius: 0;
  }
}

body .business-list .business-container .business-info {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 479px) {
  body .business-list .business-container .business-info {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 0.5rem 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .business-list .business-container .business-info #business-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0.5rem 0;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 479px) {
  body .business-list .business-container .business-info #business-name {
    text-align: center;
  }
}

body .business-list .business-container .business-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.2rem 0;
}

body .business-list .business-container .business-info .details #halfStar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 8px;
  overflow: hidden;
}

body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 2rem;
}

body .footer p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #262626;
}

body .footer a {
  color: #66ADFF;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */