@import url('https://fonts.googleapis.com/css?family=Arvo|Lato');

$colors: (
  button-primary: #66ADFF,
  button-dark: darken(#66ADFF, 10%),
  darkgrey: #262626,
  lightgrey: lighten(#262626, 75%),
  error: #e51212,
  white: #fff,
  black: #000
);

$mobile: 479px;
@mixin mobile {
  @media (max-width: #{$mobile}) {
      @content;
  }
}

@function getColor($color) {
  @return map-get($colors, $color);
}

html, body{
  height: 100%;

  @include mobile {
    font-size: 15px;
  }
}

body {
  font-family: 'Lato', Arial, sans-serif;
  background-color: getColor(lightgrey);

  #app-title {
    color: getColor(white);
    background-color: getColor(darkgrey);
    margin: 0;
    padding: 0.8rem 1rem;
    @include mobile {
      font-size: 20px;
      padding: 0.5rem 1rem;
    }
  }

  .search-bar-container {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: getColor(lightgrey);
    background-color: getColor(white);

    @include mobile{
      border-style: hidden;
      flex-flow: column nowrap;
      justify-content: center;
      margin-bottom: 2px;
    }
    
    .search-bar-fields, input {
      font-size: 16px;
      border-radius: 3px;
      padding: 0.5rem;
      margin: 0.2rem 1rem;
      outline: none;
      max-width: 100%;

      @include mobile {
        font-size: 14px;
        width: auto;
      }

      input {
        width: 15rem;
        @include mobile {
          width: 90%;
          margin: 0.4rem 0;
          padding: 0.5rem;
        }
      }

      #error {
        margin-left: 1rem;
        display: flex;
        flex-wrap: nowrap;
        color: getColor(error);

        @include mobile {
          margin-top: 0.5rem;
          margin-left: 0;
        }
      }
    }

    .search-bar-submit {
      font-size: 16px;
      text-align: center;
      border-radius: 3px;
      color: getColor(white);
      background-color: getColor(button-primary);
      padding: 0.5rem 1rem;
      margin-left: 0.2rem;
      width: auto;
      cursor: pointer;
      
      @include mobile {
        display: flex;
        font-size: 14px;
        padding: 0.75rem;
        margin-top: 0.4rem;
        max-width: 45px;
      }

      &:hover {
        background-color: getColor(button-dark);;
      }
    }
  }

  .business-list { //change to business-list-container/later
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;

    @include mobile {
      margin: 0;
    }

    .business-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 20rem;
      margin: 1.5rem;
      padding: 1rem;
      background-color: getColor(white);
      border-radius: 3px;
      box-shadow: 1px 12px 46px 4px rgba(0,0,0,0.19);

      @include mobile {
        width: 100%; 
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin: 0.2rem 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
      }

      .business-image img {
        height: 15rem;
        width: 20rem;
        align-self: center;
        border-radius: 3px;

        @include mobile {
          height: 100%;
          width: 8rem;
          display: inline-flex;
          justify-content: flex-start;
          align-self: flex-start;
          border-radius: 0;
        }
      }

      .business-info {
        width:100%;
        align-self: flex-start;

        @include mobile{
          width: 100%;
          display: inline-flex;
          flex-flow: column nowrap;
          padding: 0.5rem 1.5rem;
          align-items: center;
          font-size: 13px;
        }

        #business-name {
          display: flex;
          justify-content: flex-start;
          margin: 0.5rem 0;
          font-size: 18px;
          font-weight: 700;

          @include mobile{
            text-align: center;
            font-size: 16px;
          }
        }

        p {
          display: flex;
          margin: 0.2rem 0;
          
          @include mobile {
            margin: 0.1rem 0;
          }
        }
        
        .details {
          #halfStar {
            display: inline-flex;
            width: 8px;
            overflow: hidden;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2rem;
    p { 
      align-self: flex-end;
      color: getColor(darkgrey);
    }

    a {
      color: getColor(button-primary);
      text-decoration: none;
    }
  }
}